/* index start */

body {
    background-image: url("images/backgroundImage.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.mainHeader {
    font-family: 'Dancing Script', cursive;
    font-size: 80px;
    display: flex;
    justify-content: space-around;
    position: relative;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.navigationContainer {
    width: 500px;
    display: flex;
    justify-content: space-evenly;
    border: rgb(136, 10, 10) solid 1px;
    background-color: beige;
    float: none;
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
}

#mainImage img {
    width: 20%;
    border-radius: 45%;
    margin: auto;
    display: block;
    position: relative; 
    top: -40px;
}

#indexApple {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: left;
    background-color: rgba(245, 245, 220, 0.85);
    border: rgb(153, 2, 2) solid 5px;
    position: relative;
    font: bold;
    font-size: 120%;
}

#indexApple img {
    height: 300px;
    border: rgb(133, 131, 131) solid 5px;
    border: black solid 2px;
}

#indexOrange {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    text-align: right;
    background-color: rgba(245, 245, 220, 0.85);
    border: rgb(255, 182, 48) solid 5px;
    position: relative;
    font: bold;
    font-size: 120%;
}

#indexOrange img {
    height: 300px;
    border: black solid 2px;
}

.row{
    display:flex;
    background-color: rgba(245, 245, 220, 0.8);
}

.row>div{
    padding:15px;
}

.text{
    width:70%;
    font-size: 120%;
    font: bold;
}

.image{
    width:auto;
}

.container .row:nth-child(2n+1){
    flex-direction:row-reverse;
}

#appleBody h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 80px;
    display: flex;
    justify-content: space-around;
    position: relative;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

#orangeBody h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 80px;
    display: flex;
    justify-content: space-around;
    position: relative;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}